@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px Roboto, sans-serif;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Montserrat, sans-serif;
}

button {
    cursor: pointer;
}

header, main section, footer {
    padding: 1em 7em;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 1;
}

header a {
    margin-right: auto;
}

header nav li {
    display: inline;
    margin: 0 0.3em;
    text-transform: uppercase;
}

header nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

header button {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
    border: none;
    border-radius: 3em;
    margin-left: 1em;
    transition: background-color 0.1s ease-in;
}

header button:hover {
    background-color: rgb(106, 35, 173);
}

main section, footer {
    padding-top: 2em;
    padding-bottom: 2em;
}

main section > p, main section > div > p {
    padding: 1em 0;
}

.certification {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2.5em;
}

.certification .content {
    flex: 1 1 70%;
}

.content .legend p {
    color: gray;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.certification span {
    width: 40em;
    height: 40em;
    background-color: rgb(95, 92, 120);
    border-radius: 50%;
    position: absolute;
    right: -3em;
    bottom: 10%;
    z-index: -1;
}

.certification span svg {
    position: absolute;
    top: 50%;
    left: 60%;
}

.certification img {
    flex: 1 1 auto;
}

.cpe {
    background-color: rgb(0, 0, 55);
    color: white;
    position: relative;
    min-height: 18em;
    display: flex;
    align-items: center;
}

.cpe .content {
    width: 75%;
}

.cpe img {
    position: absolute;
    bottom: -2em;
    left: 75%;
}

.careers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5em;
}

.careers img {
    flex: 0 1 8em;
    height: auto;
}

.careers .content {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.careers a {
    text-decoration: none;
    padding: 0.5em 1em;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 10em;
}

footer {
    height: 20em;
    background-color: rgb(37, 37, 81);
    color: white;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5em;
}

footer h1 {
    color: rgb(162, 43, 226);
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

footer ul {
    list-style: none;
}

footer li {
    margin: 0.5em 0;
}

footer li a {
    text-decoration: none;
    color: white;
}

footer ul:has(i) {
    display: flex;
    gap: 1.5em;
    margin-bottom: 1.3em;
}

footer i {
    font-size: 1.8em;
}

footer p {
    margin: 0.5em 0;
}