body {
    background-image: url("../image/fitness-main.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 -15em;
}

svg {
    fill: white;
    font-size: 1.1em;
}

header .top-bar {
    padding: 1em 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(208, 25, 25);
    color: white;
}

header .top-bar ul {
    list-style: none;
    display: flex;
    gap: 0.7em;
}

nav ul {
    padding: 1em 3em;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 5em;
}

nav ul a {
    color: white;
    text-decoration: none;
}

main section {
    text-align: center;
    padding: 2.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.no-pain-no-gain {
    color: white;
    padding: 8em 0;
    flex-direction: column;
    gap: 2.5em;
}

.no-pain-no-gain h1 {
    font-size: 3em;
    letter-spacing: 0.3em;
}

.no-pain-no-gain p {
    width: 27%;
}

.no-pain-no-gain a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(208, 25, 25);
    padding: 0.3em 1em;
    border-radius: 0.3em;
}

.welcome {
    background-color: white;
}

.welcome, .coaches {
    justify-content: space-around;
    font-size: 1.1em;
}

.welcome h1, .coaches h1 {
    flex: 0 1 100%;
    font-size: 2em;
}

.welcome h1::after, .coaches h1::after {
    display: block;
    content: "";
    width: 1.5em;
    margin: 1em auto;
    border-bottom: 3px solid rgb(208, 25, 25);
}

.content-card {
    flex: 0 1 20%;
    margin-bottom: 2em;
}

.content-card .title {
    color: rgb(208, 25, 25);
    font-weight: bold;
    margin: 1em 0;
}

.welcome img {
    width: 4em;
    height: auto;
}

.coaches {
    background-color: rgba(239, 239, 239, 1);
}

.coaches img {
    width: 100%;
    height: auto;
    border-radius: 0.4em;
}

.coaches .coach {
    font-weight: bold;
    margin-top: 0.5em;
}

.coaches .title {
    font-size: 0.9em;
}

.coaches p:last-child {
    color: rgb(164, 165, 168);
}

footer {
    text-align: center;
    padding: 0.6em 0;
    background-color: rgb(208, 25, 25);
}